@font-face {
    font-family: OMORI;
    src: url(./fonts/omori-font.ttf);
}

body {
    font-family: OMORI, cursive;
    color: white;
    font-size: 24px;
    margin: 0;
}

.header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

a, .play a {
    color: white;
    cursor: url(./images/cursor.cur), auto;
    white-space: nowrap;
}

h1,
.play,
.about-container,
.portrait,
.characters *:not(div),
.reviews *:not(div),
.contact-container {
    border: 4px solid white;
    background-color: black;
    outline: 2px solid black;
}

.play {
    padding: 0 16px;
}

.about {
    background-image: url(./images/omori-background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 32px;
}

h1 {
    text-align: center;
    width: fit-content;
    margin: 32px auto;
    padding: 8px 16px;
}

p {
    margin: 0;
}

.about-container {
    box-sizing: border-box;
    width: 1000px;
    margin: 32px auto;
    padding: 100px 48px;
    display: flex;
    gap: 32px;
}

.caption {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.caption p {
    margin: 10px 0;
}

.logos {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.characters, .reviews {
    padding: 32px 0 100px;
}

.characters, .contact {
    background-color: white;
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.reviews {
    background-image: url(./images/omori-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 10%;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px 0;
}

.review-container img {
    box-sizing: border-box;
}

.review-text {
    padding: 8px 16px;
    width: 700px;
    font-size: 40px;
    margin: 10px 0 0;
}

#sweetheart {
    padding-top: 30px;
}

#spaceboy {
    padding-top: 40px;
}

#sproutmole {
    padding: 0 32px;
}

.h2 {
    font-size: 32px;
}

.contact {
    padding: 32px 0;
}

.contact-container {
    box-sizing: border-box;
    width: 1000px;
    margin: 32px auto;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin-bottom: 24px;
}

@keyframes button-flash {
    0% {
        background-color: red;
    }
    100% {
        background-color: lightgreen;
    }
}

.contact-button {
    background-color: red;
    animation: button-flash 0.5s linear 0s infinite alternate;
    text-decoration: none;
    border: 4px solid white;
    border-radius: 25px;
    font-size: 32px;
    padding: 8px 16px;
}

.footer {
    padding: 16px 0;
    text-align: center;
    background-color: black;
}